BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 105
PointerAlignment: Left
DerivePointerAlignment: false
AlignAfterOpenBracket: Align
BinPackParameters: false
BinPackArguments: true
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AccessModifierOffset: -4
NamespaceIndentation: None
SortIncludes: false
SpacesBeforeTrailingComments: 2
IndentPPDirectives: AfterHash
PenaltyReturnTypeOnItsOwnLine: 100000
AlwaysBreakAfterReturnType: None
